body {
  color: #000000;
  font-family: "Poppins", "Work Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}
body{margin: 0;font-weight: 400;}
a{
    text-decoration: none;
}
.portfolio-container{
     width: 1200px;   
     max-width: 90%;
    margin: 0 auto;
    padding: 6.2rem 0 4.375rem;
}
body.dark .bg-default {
    background-color: #000000  !important;
}
.bg-default.sps-portfolio {
    background-color: #ffffff !important;
}
.portfolio-row{
.display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.sps-portfolio .item-1column{
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
    max-width: 100%
}
.sps-portfolio .item-2column{
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.sps-portfolio .item-3column{
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.sps-portfolio .item-4column{
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
@media (max-width: 767px){
.sps-portfolio .item-2column,.sps-portfolio .item-3column,.sps-portfolio .item-4column{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;}
}
.sps-portfolio .portfolio-thumbnail {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: left;
    border-radius:0;
    margin-bottom: 1.875rem;
    margin-left: 0;
} 
.sps-portfolio .portfolio-thumbnail .see-more {
    position: relative;
    z-index: 2;
    margin-top: 12px;
    margin-right: 2.1875rem;
    transition: 0.4s;
    margin: 0 auto;
    cursor: pointer;
}
.sps-portfolio .portfolio-thumbnail:hover .see-more,
.sps-portfolio .portfolio-thumbnail:focus .see-more { margin-top: 1.5rem;margin-bottom: 1.5rem;}

.sps-portfolio .portfolio-thumbnail .portfolio-item-description .see-more> :first-child {
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    padding:0.8rem;
    text-align: center;
    line-height: 0.1;
    background: #ffffff;
    color: #000000;
}
.sps-portfolio .portfolio-thumbnail .see-more a:hover i,
.sps-portfolio .portfolio-thumbnail .see-more a:focus i{
 animation-name: spin;
  animation-duration: 0.2s;
  animation-iteration-count: 1turn;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.sps-portfolio .portfolio-thumbnail .overlay {
    background: rgba( 255,111,97,.9);
}
.img-fluid{max-width: 100%; height: auto;}

.sps-portfolio .portfolio-thumbnail .see-more a::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: 0.5s;
  display: block;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
     padding: 0.01rem;
    box-shadow: 0 0 0 30px rgb(255 255 255 / 30%);
}
.sps-portfolio .portfolio-thumbnail:hover .see-more a::after,
.sps-portfolio .portfolio-thumbnail:focus .see-more a::after{padding: 0.25rem;}

.sps-portfolio .portfolio-thumbnail .portfolio-item-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: left;
    border-radius: 0;
    opacity: 0;
    transition: 0.5s ease-out;
    overflow: hidden;
}

.sps-portfolio .portfolio-thumbnail .portfolio_description {
    transition: 0.3s;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
}

.sps-portfolio .portfolio-thumbnail .portfolio_description .portfolio-item-title, 
.sps-portfolio .portfolio-thumbnail .portfolio_description .portfolio-item-meta {
    transition: 0.5s;
    opacity: 0;
    transform: translateY(2.5rem);
}
.sps-portfolio .portfolio-thumbnail .portfolio_description  .portfolio-item-title {
  padding: 5px 0px 0px 0px;
  transition: 0.7s;
}

.sps-portfolio .portfolio-thumbnail .portfolio-item-description .portfolio-item-title h4{
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.sps-portfolio .portfolio-thumbnail .portfolio-item-title a{color:#ffffff;}

.sps-portfolio .portfolio-thumbnail .portfolio-item-title a:hover,
.sps-portfolio .portfolio-thumbnail .portfolio-item-meta a:hover,
.sps-portfolio .portfolio-thumbnail .portfolio-item-title a:focus,
.sps-portfolio .portfolio-thumbnail .portfolio-item-meta a:focus{
    color: #000000;
}

.sps-portfolio .portfolio-thumbnail:hover .portfolio-item-description,
.sps-portfolio .portfolio-thumbnail:hover,
.sps-portfolio .portfolio-thumbnail:focus .portfolio-item-description,
.sps-portfolio .portfolio-thumbnail:focus   {
    opacity: 1;
}

/*.sps-portfolio .portfolio-thumbnail .post_cats a { color: #ffffff;} */
.sps-portfolio .portfolio-thumbnail .post_cats { color: #ffffff;}
.sps-portfolio .portfolio-thumbnail .post_cats{
   margin-bottom:0.313rem;
   font-weight: 400;
   position: relative;
   font-size: 1rem;
}

.sps-portfolio .portfolio-thumbnail .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}

.sps-portfolio .portfolio-thumbnail:hover .overlay ,.sps-portfolio .portfolio-thumbnail:focus .overlay {opacity: 1;}

.sps-portfolio .portfolio-thumbnail:hover .portfolio-item-description,
.sps-portfolio .portfolio-thumbnail:hover .overlay,
.sps-portfolio .portfolio-thumbnail:hover .portfolio_link,
.sps-portfolio .portfolio-thumbnail:hover .portfolio-item-description .portfolio-item-meta,
.sps-portfolio .portfolio-thumbnail:hover .portfolio-item-description .portfolio-item-title,
.sps-portfolio .portfolio-thumbnail:focus .portfolio-item-description,
.sps-portfolio .portfolio-thumbnail:focus .overlay,
.sps-portfolio .portfolio-thumbnail:focus .portfolio_link,
.sps-portfolio .portfolio-thumbnail:focus .portfolio-item-description .portfolio-item-meta,
.sps-portfolio .portfolio-thumbnail:focus .portfolio-item-description .portfolio-item-title{
    opacity: 1;
    transform: translateY(0);
}

body.modal-open {
    padding-right: 0 !important;
}
.sps-portfolio .portDetail{padding: 0.625rem;}
/*.sps-portfolio .post_cats a:after {
    content: ',';
    padding-left: 1px;
    Padding-right: 5px;
}*/
.sps-portfolio .post_cats a:last-child::after { display: none; }
/*--------------------------------------------------------------
Portfolio tab
--------------------------------------------------------------*/
.filtering {
    margin-bottom: 40px;
}
.filtering span {
  /*  border-bottom: 1px solid #e1e1e1;
    color: #858585;*/
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 0;
    padding: 15px 40px;
    display: inline-block;
    margin-bottom: 5px;
}
.filtering span:last-child {
    margin: 0;
}
/*.filtering .active {
    border-color: #ff6f61;
    color: #ff6f61;
}*/
media 
.filtering span {
    padding: 15px;
}
/*--------------------------------------------------------------
Portfolio Popup
--------------------------------------------------------------*/
/* The Modal (background) */
.portModal {
  display: none; 
  position: fixed;
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.8); 
}

/* Modal Content/Box */
.port-modal-content {
  background-color: #fefefe;
  padding: 1.563rem;
  border: 1px solid #888;
  width: 62%; 
 display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: absolute;
    top: 10%;
    left: 20%;
    right: 0;
}
.port-content{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3.125rem;
}
.portModal .post-thumbnail{
    position: relative;
    overflow: hidden;
    margin: 0;
}
/* The Close Button */
.portClose {
  color: #aaa;
  font-family: 'Poppins';
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 0.625rem;
}

.portClose:hover,
.portClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*.port-modal-content .entry-header .entry-title{color: #000000;}*/
/*.port-modal-content p{color: #858585;font-size: 1.25rem;}*/
@media (max-width: 991px){
.port-modal-content {
    display: block;
    }}
@media (min-width: 992px) and (max-width: 1400px){ 
.portModal .post-thumbnail {
    width: 200px;
}   
.port-content {
    padding: 0 1.125rem;
} }   
body .sps-portfolio .tab-content .portfolio-thumbnail a{text-decoration: none !important;}
body .sps-portfolio .tab-content .modal-content a{text-decoration: none !important;}

.sps-portfolio *, .sps-portfolio ::after,.sps-portfolio ::before {
    box-sizing: unset;
}
.page-section-space.sps-portfolio .port-modal-content .card-img-top{height: 550px;}
.page-section-space.sps-portfolio .card-img-top {width: 100%;}
@media only screen and (min-width: 768px){.entry .port-modal-content  .post-thumbnail {margin: 0;}}
.image-filters-enabled .entry .port-modal-content .post-thumbnail:before{display: none;}
.image-filters-enabled .entry .port-modal-content .post-thumbnail:after {
    display: none;
}
@media only screen and (min-width: 768px){
.entry .port-modal-content .entry-header {
    margin: 0;
}
body .entry .port-modal-content .entry-content{padding: 0;}
}
.entry .port-modal-content .entry-title:before {display: none;}
.singular .port-modal-content .entry-header {
    padding: 0;
}
body .port-modal-content .entry-header .entry-title{ margin: 18px 0;}
 .singular .port-modal-content .post-thumbnail{ width: inherit; max-width: unset;}
 .page-section-space.sps-portfolio .card-img-top {
    height: auto;
}
.dark .services .sps-portfolio .post-thumbnail img {
    width: auto;
    border-radius: unset;
}
.sps-portfolio .post-thumbnail{width: auto;}
 .sps-port .blog .post:hover,.sps-portfolio .sps-port .blog .post:focus, .sps-port .blog .post {transform: unset;}
.section-module .sps-portfolio .portfolio-container{padding: 0;}
.page-section-space.sps-portfolio{padding: 0;}
.section-space .page-section-space.sps-portfolio .portfolio-container{padding: 0;}
.page-section-space.sps-portfolio .tab-content {padding-top: 0;}