.spice-portfolio-tbl{border-spacing: 15px;width: 100%;}
.spice-port-td-title{width: 40%;padding-bottom: 20px;}
.spice-port-td-attr{width: 60%;padding-bottom: 20px;}
.spice-port-td-attr-width{width: 50%;}
.spice-port-td-attr-30{width: 30%;}
.spice-port-td-span{display: block;font-size: 12px;font-weight: 400;font-style: normal;margin: 2px 0 0;padding: 0;color: #939393;}
.spice-portfolio-sc{font-size: 16px;padding: 2px 10px;width: 100%;}
.spice-portfolio-font-select{width: -webkit-fill-available;}

/* Radio Button Toggle CSS */ 
#spice_shortcode_meta_id .switch {
  position: relative;
  height: 33px;
  width: 102px;
  border:0px solid #f2f2f2;
  border-radius: 0px;
 -webkit-box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
}
#spice_shortcode_meta_id .switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50px;
  line-height: 31px;
  font-size: 16px;
  color:#000;
  text-align: center;
  font-weight:bold;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
}
#spice_shortcode_meta_id .switch-label:active {
  font-weight: bold;
}
#spice_shortcode_meta_id .switch-label-off {
  padding-left: 0px;
}
#spice_shortcode_meta_id .switch-label-on {
  padding-right: 0px;
}
#spice_shortcode_meta_id .switch-input {
  display: none !important;
}
#spice_shortcode_meta_id .switch-input:checked + .switch-label {
  font-weight: bold;
  color: #ffffff !important;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.05s ease-out;
  -moz-transition: 0.05s ease-out;
  -o-transition: 0.05s ease-out;
  transition: 0.05s ease-out;
}
#spice_shortcode_meta_id .switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 50px;
}
#spice_shortcode_meta_id .switch-selection {
  display: block;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 52px;
  height: 33px;
  background: #135e96;
  border-radius: 0px;
 background-color: #135e96 !important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#135e96), to(135e96)) !important;
  background-image: -moz-linear-gradient(top, #135e96, #135e96) !important;
  background-image: -ms-linear-gradient(top, #135e96, #135e96) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #135e96), color-stop(100%, #135e96)) !important;
  background-image: -webkit-linear-gradient(top, #135e96, #135e96) !important;
  background-image: -o-linear-gradient(top, #135e96, #135e96) !important;
  background-image: -linear-gradient(top, #135e96, #135e96) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#135e96', endColorstr='#135e96', GradientType=0) !important;
  border-color: #135e96 !important;
  border-color: #135e96 !important;
  -webkit-box-shadow: inset 0 1px 0 #135e96,0 1px 0 rgba(0,0,0,0.15) !important;
  box-shadow: inset 0 1px 0 #135e96,0 1px 0 rgba(0,0,0,0.15) !important;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

/* Range Slider CSS */ 
.acc_table th{
  vertical-align: top;
  text-align: left;
  padding: 15px 10px 10px 0;
  width: 100%;
  line-height: 1.3;
  font-weight: 600;
  display: block;
  color: #555;
  font-size: 16px;
}
.acc_table td{    
  margin-bottom: 9px;
  padding: 10px 2px;
  line-height: 1.3;
  vertical-align: middle;
  display: block;
}
#accordion_setting {
  box-shadow: 0 0 6px rgba(0,0,0,.2) !important;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.2) !important;
}
.size-slider{
  width: 70%;
  display:inline-block;
}
.slider-text {
  background-color: #135e96 !important;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 2px;
  text-align: center;
  width: 46px !important;
  height: 34px;
  color: #fff !important;
  margin-left: 20px;
  border-color: #ffffff !important;
  margin-right: 0px;
  display: inline-block !important;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15) !important;
}
.setting_color .ui-state-default, .setting_color .ui-widget-content .ui-state-default {
  background-color: #fff;
  border: 0px solid #c5dbec;
  border-radius: 100%;
  cursor: move;
  height: 30px;
  left: 0;
  top: -9px;
  position: absolute;
  width: 30px;
  -webkit-box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
}
.setting_color .ui-widget-content {
  border: 0px solid #a6c9e2;
  background: #a9acb1;
  color: #222222;
}
.setting_color .ui-widget-header {
  border: 0px solid #4297d7;
  background: #ef4238;
  color: #ffffff;
  font-weight: bold;
}

/*CUSTOM CSS FOR META BOXES */
.meta-box-sortables select.sp-portforlio-cat-query {
    width: 60% !important;
}
.spice-portfolio-tbl .select2-container{width: 100% !important;}